h1 {
  color: rgb(255, 255, 255);
  font-size: 80px;
}
h3 {
  text-align: left;
  font-family: fantasy;
  font-size: 18px;
  color: rgb(222, 144, 144);
}
p {
  text-align: left;
  font-family: cursive;
   color: rgb(255, 255, 255);
  font-size: 12px;
}
ul {
  text-align: left;
  font-family: cursive;
   color: rgb(248, 248, 248);
  font-size: 14px;
}
body {
  background-color: #4e0303;
}
img {
  float: left;
  width: 200px;
  margin: 1px;
  border-color: saddlebrown;
  border-width:1px;
  border-style: solid;
}
h4 {
  text-align: left;
  font-family: cursive;
  font-size: 7px;
  color: rgb(255, 255, 255);
}
